* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #e7e7e7 45px;
    width: auto;
}

header {
    display: flex;
    background-color: whitesmoke;
    align-items: center;
    height: 45px;
}

#logo,
.nav-links {
    display: flex;
    align-self: center;
    align-items: center;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
    float: right;
    padding: 0px 35px 0px 0px;
}

.nav-link {
    color: #000;
    text-decoration: none;
    padding: 0px 50px 0px 10px;
    border-left: 2px solid transparent;
    transition: ease-in-out 250ms;
}

.nav-link:hover {
    transition: ease-in-out 250ms;
    border-left: 2px solid rgb(92, 92, 92);
}

#logo {
    height: 60%;
    margin-left: 25px;
    width: auto;
}

nav {
    flex: 1;
}

.input-group {
    margin-right: 25px;
}

.form-control::placeholder {
    font-size: 0.90rem;
    color: #aaa;
    font-style: italic;
}

main {
    background-color: black;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    flex: 1;
}

.intro-text {
    color: rgb(240, 240, 240);
}

.intro-text h1 {
    font-size: 44px;
}

.cover {
    flex: 1;
}

.cover img {
    height: 550px;
    padding-left: 100px;
    margin-top: 50px;
}

.cta {
    margin-top: 45px;
}

.cta-learn,
.cta-buy {
    margin-right: 15px;
    margin-bottom: 15px;
}

.cta-learn {
    border: 2px solid white;
    background: white;
    color: rgb(39, 39, 39);
    font-size: 15px;
    width: 120px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    transition: ease-in-out 250ms;
}

.cta-buy {
    border: 2px solid rgb(57, 122, 222);
    background: rgb(57, 122, 222);
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 120px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    transition: ease-in-out 250ms;
}

.cta-buy:hover {
    border: 2px solid rgb(86, 139, 219);
    background: rgb(86, 139, 219);
    color: white;
    transition: ease-in-out 5ms;
}

.cta-learn:hover {
    background: rgb(0, 0, 0);
    color: white;
    transition: ease-in-out 10ms;
}


/* Traqable grid styling */

.center_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: 70px auto;
    min-width: 719px;
    max-width: 1400px;
}

.grid-container>div {
    background-color: rgba(221, 221, 221, 0.8);
    justify-content: center;
}

.fill_parent {
    height: 100%;
    width: 100%;
}

.item1,
.item4 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item1 {
    background-image: url("Images/Creme Bear.png");
}

.item4 {
    background-image: url("Images/Pink Bear.png")
}

.item2 {
    text-align: left;
    height: 500px;
}

.item3 {
    text-align: right;
    height: 500px;
}

.item2,
.item3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_text {
    width: 80%;
}


/* Comparision grid styling */

.comparison_wrapper {
    background-color: rgba(221, 221, 221, 0.8);
    min-width: 719px;
    max-width: 1302px;
    margin: 0px auto 85px auto;
}

.Comparison_title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px 35px 0px;
}

.cta2 {
    display: flex;
    justify-content: center;
    margin: auto;
}

.cta-compare {
    border: 2px solid rgb(57, 122, 222);
    background: rgb(57, 122, 222);
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 120px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    transition: ease-in-out 250ms;
}

.cta-compare:hover {
    border: 2px solid rgb(86, 139, 219);
    background: rgb(86, 139, 219);
    color: white;
    transition: ease-in-out 5ms;
}

.images_wrapper {
    display: flex;
    justify-content: center;
    margin: 20px auto 20px auto;
    padding: 70px 0px 80px 0px;
}

#comparison_image {
    height: 250px;
    padding: 0px 10px
}


/**/


/**/


/**/


/**/


/* Footer styling */

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    line-height: 30px;
    color: #737373;
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.row {
    margin: auto;
    max-width: 2000px;
}

#logo_footer {
    height: 30px;
    padding: 0px 40px;
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.about_stuff {
    padding: 70px 40px;
    text-decoration: none;
}

.footer-link {
    text-decoration: none;
    margin: 30px 0px;
}

.footer-links {
    list-style: none;
    color: #737373;
}


/* dividing line*/

hr {
    size: 1;
    width: 96.5%;
    border-color: rgb(83, 83, 83);
    max-width: 2000px;
    margin: auto;
}


/*Copyright text*/

.legal-text-wrap {
    margin-left: 40px;
}

form {
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 2000px;
    margin-top: 10px;
}